@charset "UTF-8";
/* PALETA DE COLORES */
/* FUENTES */
/* TAMAÑO DE LETRA*/
/* TAMAÑO DE SEPARACION */
/* PRUEBA MAP */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  overflow-x: hidden !important;
}

footer a {
  text-decoration: none;
  color: #dfe2e3;
}
footer a:visited {
  color: #dfe2e3;
}
footer a:hover {
  color: #b56e20;
}

/***** NAV *****/
nav {
  background-color: #282726;
  border-bottom: 4px solid #b56e20;
  color: #dfe2e3;
  font-family: "Bebas Neue";
  font-size: 3.5rem;
  margin: 0 !important;
}
nav a {
  color: #dfe2e3 !important;
}
nav a :visited {
  color: #dfe2e3 !important;
}
nav .blanco {
  border: #dfe2e3;
  background-color: #dfe2e3;
}
nav .container-fluid div .brand {
  font-size: 5rem;
  text-decoration: none;
}
nav .container-fluid .underline a:hover {
  display: inline-block;
  position: relative;
}
nav .container-fluid .underline a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #b56e20;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
nav .container-fluid .underline a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 800px) {
  nav .navbar-nav {
    font-size: 2.5rem;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  nav .navbar-nav {
    font-size: 2.5rem;
  }
}
/***** HERO */
#hero {
  background-color: #282726;
  background-image: url(../images/imagen-fondo.jpg);
  background-repeat: no-repeat;
  border-bottom: 4px solid #b56e20;
  height: 90vh;
  z-index: 0;
}
#hero .hero__box {
  background-color: #282726;
  border: 3px solid #b56e20;
  border-radius: 25px;
  color: #dfe2e3;
  font-family: "Bebas Neue";
  font-size: 3.5rem;
  letter-spacing: 0.25rem;
  padding: 3.5rem;
  position: absolute;
  right: 5%;
  top: 40%;
  -webkit-animation: movimiento 10s linear 0.3s infinite;
          animation: movimiento 10s linear 0.3s infinite;
  max-width: 50%;
}
#hero .hero__box .hero__title {
  font-size: 5rem;
  -webkit-text-decoration: underline #b56e20;
          text-decoration: underline #b56e20;
}

@media screen and (max-width: 800px) {
  #hero {
    padding-top: 7rem;
  }
  #hero .hero__box {
    font-size: 2.5rem;
    margin: 0 auto;
    max-width: 650px;
    position: static;
    padding: 1rem;
    text-align: center;
  }
  #hero .hero__box h1 {
    margin-bottom: 2rem;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  #hero {
    padding: 7rem 0 7rem;
  }
  #hero .hero__box {
    font-size: 3.5rem;
    margin: 0 auto;
    max-width: 650px;
    position: static;
    padding: 2rem;
    text-align: center;
  }
}
/* intro */
main .intro {
  font-family: "Bebas Neue";
}
main .intro h1 {
  color: #282726;
  font-size: 5rem;
  -webkit-text-decoration: underline #b56e20;
          text-decoration: underline #b56e20;
}
main .intro p {
  color: #777472;
  font-size: 3.5rem;
  margin-top: 1rem;
  line-height: 1.2;
}
main .intro__img {
  min-width: 600px;
  height: auto;
}

@media screen and (max-width: 800px) {
  main .intro h1 {
    font-size: 2.5rem;
  }
  main .intro p {
    font-size: 1.75rem;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  main .intro h1 {
    font-size: 3.5rem;
  }
  main .intro p {
    font-size: 2.5rem;
  }
}
/* servicios */
main section div .servicios__title {
  font-family: "Bebas Neue";
  -webkit-text-decoration: underline #b56e20;
          text-decoration: underline #b56e20;
  font-size: 5rem;
}
main section .servicios__container {
  background-color: #282726;
}
main section .servicios__container .servicios__box {
  background-color: #282726;
  color: #dfe2e3;
  font-size: 1.75rem;
  font-family: "Bebas Neue";
  padding: 1rem;
}
main section .servicios__container .servicios__box h2 {
  font-size: 2.5rem;
  -webkit-text-decoration: underline #b56e20;
          text-decoration: underline #b56e20;
}

@media screen and (max-width: 800px) {
  main section div .servicios__title {
    font-size: 3.5rem;
    text-align: center;
  }
  main section .servicios__container {
    flex-flow: column wrap;
    padding: 0.5rem;
  }
  main section .servicios__container .servicios__box h2 {
    font-size: 2.5rem;
  }
  main section .servicios__container .servicios__box p {
    font-size: 1.75rem;
  }
}
/* artistas */
body main {
  padding: 3.5rem 3.5rem;
}
body main .artistas {
  width: 90%;
}
body main .artistas div {
  margin-bottom: 3rem;
}
body main .artistas div img {
  min-width: 300px;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
body main .artistas div .artista__texto {
  font-family: "Bebas Neue";
  font-size: 1.75rem;
}
body main .artistas div .artista__texto h1 {
  color: #282726;
  font-size: 2.5rem;
  -webkit-text-decoration: underline #b56e20;
          text-decoration: underline #b56e20;
}
body main .artistas div .artista__texto p {
  color: #777472;
}

@media screen and (max-width: 800px) {
  body main {
    padding: 1rem 0.75rem;
  }
  body main .artistas div {
    margin-bottom: 1.5rem;
  }
  body main .artistas div img {
    display: block;
    margin: 0 auto;
    min-width: 300px;
    max-width: 450px;
  }
  body main .artistas div .artista__texto {
    font-size: 1.75rem;
    padding: 1rem 0;
  }
  body main .artistas div .artista__texto h1 {
    text-align: center;
    font-weight: bold;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  body main .artistas {
    width: 100%;
  }
  body main .artistas div .img {
    min-width: 450px;
    max-width: 600px;
  }
  body main .artistas div .artista__texto {
    margin: 0 auto;
    padding: 2rem 0;
  }
  body main .artistas div .artista__texto h1 {
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
  }
  body main .artistas div .artista__texto p {
    font-size: 2.5rem;
  }
}
.body-galeria .gal_tatuaje {
  background-color: #282726;
  margin: 0;
}
.body-galeria .gal_tatuaje .titulo {
  color: #dfe2e3;
  font-family: "Bebas Neue";
  font-size: 7rem;
  -webkit-text-decoration: underline #b56e20;
          text-decoration: underline #b56e20;
  padding: 5rem 0;
}
.body-galeria .gal_tatuaje .carousel .carousel-inner .carousel-item img {
  margin: auto;
  max-width: 40%;
  max-height: auto;
}
.body-galeria .gal_tatuaje .boton-galeria-izq {
  margin: 0;
}

@media screen and (max-width: 800px) {
  .body-galeria .gal_tatuaje .titulo {
    font-size: 5rem;
    -webkit-text-decoration: underline #b56e20;
            text-decoration: underline #b56e20;
    padding: 2rem 0;
  }
  .body-galeria .gal_tatuaje .carousel .carousel-inner .piercing-galeria {
    max-width: 400px !important;
  }
  .body-galeria .gal_tatuaje .carousel .carousel-inner .piercing-galeria img {
    min-width: 100%;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  .body-galeria .gal_tatuaje .titulo {
    text-align: center;
  }
  .body-galeria .gal_tatuaje .carousel .carousel-inner .carousel-item img {
    min-width: 80%;
  }
}
body .faq {
  font-family: "Bebas Neue";
  margin: 0 auto;
  max-width: 1000px;
}
body .faq .faq__title {
  font-size: 5rem;
  -webkit-text-decoration: underline #b56e20;
          text-decoration: underline #b56e20;
  padding: 5rem 0;
}
body .faq div h1 {
  font-size: 2.5rem;
}
body .faq div p {
  font-size: 1.75rem;
  color: #777472;
}
body .faq div hr {
  color: #b56e20;
  border: solid 2px #b56e20;
}
body form {
  font-family: "Bebas Neue";
  font-size: 1rem;
  margin: 5rem auto 0 !important;
  max-width: 1000px;
  text-align: center;
}
body form legend {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  max-width: 60%;
}
body form label {
  display: block;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 2rem auto 0;
}
body form input {
  display: block;
  margin: 2rem auto 0;
  font-family: "Bebas Neue";
  font-size: 1.6rem;
  margin: 1rem auto;
  min-width: 60%;
}
body form textarea {
  display: block;
  font-family: "Roboto";
  margin: 2rem auto;
  max-width: 60% !important;
  resize: none;
}
body form .btn {
  background-color: #282726 !important;
  border: 4px solid #282726;
  color: #dfe2e3;
  max-width: 60%;
}
body form .btn:hover {
  color: #dfe2e3 !important;
  border: 4px solid #b56e20 !important;
  opacity: 0.95;
}

@media screen and (max-width: 800px) {
  body .faq .faq__title {
    font-size: 3.5rem;
    text-align: center;
    padding-bottom: 2rem;
  }
  body .faq div {
    padding: 0 0.75rem;
    text-align: center;
  }
  body .faq div h1 {
    font-size: 2.5rem;
  }
  body .faq div p {
    font-size: 1.75rem;
  }
  body form {
    margin: 0 auto;
    width: 90%;
  }
  body form fieldset legend {
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }
  body form fieldset input {
    padding: 0.3rem;
    margin: 0 auto;
    min-width: 90%;
  }
  body form fieldset label {
    font-size: 1.6rem;
    font-weight: bold;
  }
  body form fieldset textarea {
    min-width: 100%;
  }
  body form fieldset .btn {
    margin: 1rem;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  body .faq {
    width: 80%;
  }
}
.dark-bg {
  background-color: #282726;
  color: #dfe2e3;
}
.dark-bg .piercingsServicio {
  width: 95%;
}
.dark-bg .piercingsServicio .catalogo__title {
  font-family: "Bebas Neue";
  font-size: 7rem;
  -webkit-text-decoration: underline #b56e20;
          text-decoration: underline #b56e20;
  text-align: center;
  margin: 3.5rem 0;
}
.dark-bg .piercingsServicio .catalogo__descripcion {
  font-family: "Bebas Neue";
  font-size: 2.5rem;
  text-align: center;
}
.dark-bg .piercingsServicio div {
  margin: 0 auto;
  max-width: 600px;
}
.dark-bg .piercingsServicio div .piercing__texto {
  font-size: 2.5rem;
  font-family: "Bebas Neue";
  text-align: center;
}
.dark-bg .piercingsServicio div .piercing__img {
  border: 2px solid #dfe2e3;
  margin-bottom: 2rem;
}
.dark-bg .gal_tatuaje {
  margin: 0;
}
.dark-bg .gal_tatuaje .catalogo__title {
  color: #dfe2e3;
  font-family: "Bebas Neue";
  font-size: 7rem;
  -webkit-text-decoration: underline #b56e20;
          text-decoration: underline #b56e20;
  padding: 5rem 0;
}
.dark-bg .gal_tatuaje .carousel .carousel-inner .carousel-item img {
  margin: auto;
  max-width: 40%;
  max-height: auto;
}
.dark-bg .catalogo_container {
  max-width: 80%;
}
.dark-bg .catalogo_container .catalogo__title {
  font-family: "Bebas Neue";
  font-size: 7rem;
  -webkit-text-decoration: underline #b56e20;
          text-decoration: underline #b56e20;
  text-align: center;
  margin: 3.5rem 0;
}
.dark-bg .catalogo_container .catalogo__descripcion {
  font-family: "Bebas Neue";
  font-size: 2.5rem;
  text-align: center;
}
.dark-bg .catalogo_container .card {
  background-color: #282726;
  font-family: "Bebas Neue";
}
.dark-bg .catalogo_container .card div h1 {
  font-size: 2.5rem;
  -webkit-text-decoration: underline #777472;
          text-decoration: underline #777472;
}
.dark-bg .catalogo_container .card div p {
  font-size: 1.75rem;
}

@media screen and (max-width: 800px) {
  .dark-bg .piercingsServicio .catalogo__title {
    font-family: "Bebas Neue";
    font-size: 5rem;
    -webkit-text-decoration: underline #b56e20;
            text-decoration: underline #b56e20;
    text-align: center;
    margin: 3.5rem 0;
  }
  .dark-bg .piercingsServicio .piercing__varios {
    margin-bottom: 2rem;
  }
  .dark-bg .gal_tatuaje .catalogo__title {
    font-family: "Bebas Neue";
    font-size: 5rem;
    -webkit-text-decoration: underline #b56e20;
            text-decoration: underline #b56e20;
    text-align: center;
  }
  .dark-bg .gal_tatuaje .carousel .carousel-inner .piercing-galeria img {
    min-width: 100%;
  }
  .dark-bg .catalogo_container {
    max-width: 100%;
  }
  .dark-bg .catalogo_container .catalogo__title {
    font-family: "Bebas Neue";
    font-size: 5rem;
    -webkit-text-decoration: underline #b56e20;
            text-decoration: underline #b56e20;
    text-align: center;
    margin: 2rem 0;
  }
  .dark-bg .catalogo_container .catalogo__descripcion {
    font-family: "Bebas Neue";
    font-size: 1.75rem;
    text-align: center;
  }
  .dark-bg .catalogo_container .card {
    background-color: #282726;
    font-family: "Bebas Neue";
  }
  .dark-bg .catalogo_container .card div {
    text-align: center;
  }
  .dark-bg .catalogo_container .card div h1 {
    font-size: 2.5rem;
  }
  .dark-bg .catalogo_container .card div p {
    font-size: 1.75rem;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  .dark-bg .piercingsServicio .catalogo__title {
    font-family: "Bebas Neue";
    font-size: 5rem;
    -webkit-text-decoration: underline #b56e20;
            text-decoration: underline #b56e20;
    text-align: center;
    margin: 3.5rem 0;
  }
  .dark-bg .piercingsServicio .piercing__varios {
    margin-bottom: 2rem;
  }
  .dark-bg .gal_tatuaje .catalogo__title {
    font-family: "Bebas Neue";
    font-size: 5rem;
    -webkit-text-decoration: underline #b56e20;
            text-decoration: underline #b56e20;
    text-align: center;
  }
  .dark-bg .gal_tatuaje .carousel .carousel-inner .piercing-galeria img {
    min-width: 75%;
  }
  .dark-bg .catalogo_container {
    max-width: 100%;
  }
  .dark-bg .catalogo_container .catalogo__title {
    font-family: "Bebas Neue";
    font-size: 5rem;
    -webkit-text-decoration: underline #b56e20;
            text-decoration: underline #b56e20;
    text-align: center;
    margin: 2rem 0;
  }
  .dark-bg .catalogo_container .catalogo__descripcion {
    font-family: "Bebas Neue";
    font-size: 1.75rem;
    text-align: center;
  }
  .dark-bg .catalogo_container .card {
    background-color: #282726;
    font-family: "Bebas Neue";
  }
  .dark-bg .catalogo_container .card div {
    text-align: center;
  }
  .dark-bg .catalogo_container .card div h1 {
    font-size: 2.5rem;
  }
  .dark-bg .catalogo_container .card div p {
    font-size: 1.75rem;
  }
}
/* artistas */
main {
  padding: 3.5rem 3.5rem;
}
main .artistas {
  width: 90%;
}
main .artistas div {
  margin-bottom: 3rem;
}
main .artistas div img {
  min-width: 300px;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
main .artistas div .artista__texto {
  font-family: "Bebas Neue";
  font-size: 1.75rem;
}
main .artistas div .artista__texto h1 {
  color: #282726;
  font-size: 2.5rem;
  -webkit-text-decoration: underline #b56e20;
          text-decoration: underline #b56e20;
}
main .artistas div .artista__texto p {
  color: #777472;
}

@media screen and (max-width: 800px) {
  main {
    padding: 2rem 0.75rem;
  }
  main .artistas div img {
    display: block;
    margin: 0 auto;
    min-width: 300px;
    max-width: 450px;
  }
  main .artistas div .artista__texto {
    font-size: 1.75rem;
    padding: 2rem 0;
  }
  main .artistas div .artista__texto h1 {
    text-align: center;
    font-weight: bold;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  main .artistas {
    width: 80%;
  }
  main .artistas div .img {
    min-width: 450px;
    max-width: 600px;
  }
  main .artistas div .artista__texto {
    width: 80%;
    margin: 0 auto;
    font-size: 2.5rem;
    padding: 3.5rem 0;
  }
  main .artistas div .artista__texto h1 {
    text-align: center;
    font-weight: bold;
  }
}
/***** FOOTER *****/
footer {
  background-color: #282726;
  border-top: 4px solid #b56e20;
  color: #dfe2e3;
  font-family: "Roboto";
  font-size: 1.75rem;
  line-height: 2;
  padding: 5rem;
  text-align: center;
}
footer h3 {
  font-size: "Roboto";
  -webkit-text-decoration: underline #b56e20;
          text-decoration: underline #b56e20;
  padding-bottom: 2rem;
  font-size: 2.5rem;
}

@media screen and (max-width: 800px) {
  footer h3 {
    font-size: 1.5rem;
  }
  footer a, footer p {
    font-size: 1.25rem;
    padding-bottom: 1rem;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  footer h3 {
    font-size: 2rem;
  }
  footer a, footer p {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
}/*# sourceMappingURL=styles.css.map */