@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

:root {
    --color-dark: #282726;
    --color-middle: #777472fd;
    --color-light: #dfe2e3;
    --color-contrast: #b56e20;

    --font-titles: 'Bebas Neue';
    --font-text:'Roboto', monospace;

    --font-size-vhigh: 8.5rem;
    --font-size-high: 5rem;
    --font-size-mid: 3.0rem;
    --font-size-small: 2.5rem;
    --font-size-xsmall: 1.75rem;

    --padding-vhigh: 7.5rem;
    --padding-high: 5rem;
    --padding-mid: 4rem;
    --padding-small: 3rem;
    --padding-xsmall: 1.5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: var(--font-text);
}

.h1 {
    font-size: var(--font-size-high);
    font-weight: bold;
}

.h2 {
    font-size: var(--font-size-vhigh);
    font-weight: bold;
}

ul, li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none !important; 
}

img {
    width: 100%;
}

.active {
    color: var(--color-contrast) !important;
}

/* HEADER */

header {
    background-color: var(--color-dark);
    border-bottom: 3px solid var(--color-contrast) ;
    color: var(--color-light);
    font-family: var(--font-titles);
    font-size: var(--font-size-mid);
    padding: var(--padding-small);

    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: center;
}

.header__ul {
    display: flex;
    flex-flow: row wrap;
    gap: var(--padding-mid);
}

header a {
    color: var(--color-light)
}

header a:visited {
    color: var(--color-light)
}

/* este hover y su animacion son robo jaja, queria una animacion linda pero no las manejo todavia*/
header a:hover {
    display: inline-block;
    position: relative;
} 
header a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-contrast);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
header a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* HERO */
#hero {
    background-color: var(--color-dark);
    background-image: url(../images/imagen-fondo.jpg);
    background-repeat: no-repeat;
    height: 90vh;
    z-index: 0;
}

.hero__box {
    background-color: var(--color-dark);
    border: 3px solid var(--color-contrast);
    border-radius: 25px;
    color: var(--color-light);
    font-family: var(--font-titles);
    font-size: var(--font-size-high);
    letter-spacing: 0.5rem;
    position: absolute;
    padding: var(--padding-mid);
    right: 15%;
    top: 40%;
}

.hero__box h1 {
    margin-bottom: var(--padding-small);
}

/* MAIN */
body {
    background-color: var(--color-light) !important;
}

main {
    margin: var(--padding-high) auto;
    padding-top: var(--padding-vhigh);
    width: 90%;
}

/*** MAIN INDEX ***/

    /* Intro */
.intro {
    font-family: var(--font-titles);
    padding: var(--padding-high);

    display: flex;
    flex: row wrap;
    gap: var(--padding-mid);
    justify-content: space-evenly;
    align-items: center;
}

.intro h1 {
    color: var(--color-dark);
    font-size: var(--font-size-high);
}

.intro p {
    color: var(--color-middle);
    font-size: var(--font-size-mid);
    line-height: 1.2;
}

.intro__text {
    flex: 1 1;
}

.intro__img {
    flex: 1.2 1;
    min-width: 300px;
}

    /* Servicios*/
.servicios__title{
    font-family: var(--font-titles);
    font-size: var(--font-size-high);
    padding: var(--font-size-mid) 0;
}

.servicios__container {
    background-color: var(--color-dark);
    color: var(--color-light);
    display: flex;
    font-family: var(--font-text);
    padding: var(--padding-mid) var(--padding-small);

    flex-flow: row no-wrap;
    justify-content: space-around;
    gap: var(--padding-xsmall);
}

.servicios__box h1 {
    font-size: var(--font-size-mid);
    padding-bottom: var(--padding-xsmall);
    text-decoration: underline var(--color-contrast);
}

.servicios__box p {
    font-size: var(--font-size-small);
}

    /* Artistas */
.artistas {
    margin-top: var(--padding-high);
    padding-top: var(--padding-high);
    display: grid;
    grid-template-areas: 
    "fotoUno fotoUno textoUno textoUno"
    "textoDos textoDos fotoDos fotoDos"
    ;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 4fr);
    row-gap: var(--padding-vhigh);
}

.artistas .artista__textoUno h1,
.artistas .artista__textoDos h1{
    color: var(--color-dark);
    font-family: var(--font-text);
    font-size: var(--font-size-mid);
    padding-bottom: var(--padding-xsmall) ;
    text-decoration:underline var(--color-contrast);
}

.artistas .artista__textoUno p,
.artistas .artista__textoDos p{
    color: var(--color-middle);
    font-family: var(--font-text);
    font-size: var(--font-size-small);
    line-height: 1.5;
}

.artista__foto {
    min-width: 275px;
    max-width: 600px;
}

.artista__fotoUno {
    grid-column: 2 /5;
}

.artista__textoUno{
    grid-column: 6 / 12;
}

.artista__fotoDos {
    grid-row: 2/4;
    grid-column: 9 / 12;
}

.artista__textoDos {
    grid-row: 2/4;    
    grid-column: 2 / 8;
}


/*** MAIN GALERIA ***/

.container__galeria {
    display: flex;
    flex-flow: row wrap;
    gap: var(--padding-small);
    justify-content: space-evenly;
    margin: var(--padding-vhigh) 0;
}

.galeria__img {
    max-width: 25%;
    border-radius: 25px;
    box-shadow: 5px 7px 20px rgba(1,1,1,0.8);
    transition: all 0.5s ease-in-out;
}
/***************************************************/
.galeria__img:hover {
   max-width: 28%;
   opacity: 0.8;
   transition: all 0.5s ease-in-out;
   cursor: pointer;
}
/***************************************************/

/*** MAIN PIERCINGS ***/

.piercingsServicio {
    display: flex;
    gap: var(--padding-small);
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.piercing__varios {
    max-width: 30%;
}

.piercing__img {
    display: block;
    border-radius: 25px;
    box-shadow: 5px 7px 20px rgba(1,1,1,0.8);
}

.piercing__texto {
    color: var(--color-middle);
    font-family: var(--font-text);
    font-size: var(--font-size-small); 
    padding-top: var(--padding-mid);
}

.catalogo__texto h1,
.catalogo__texto p,
.catalogo__texto h3 {
    padding: 0.5rem 0 ;
}

.galeriaImg{
    max-width: 10%;
} /* sacar cuando ponga el carrousel, es para q las imagenes no sean gigantes*/

.catalogo__title {
    font-size: var(--font-size-high);
    font-family: var(--font-titles);
    padding:var(--padding-vhigh) 0;
}

.catalogoPiercing {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    grid-template-rows: repeat(2,1fr);
    gap: var(--padding-mid);
}

.catalogo__texto {
    text-align: center;
    font-family: var(--font-text);
    font-size: var(--font-size-small);
    padding-top: var(--padding-xsmall);
}

.catalogo__img {
    display: inline-block;
    padding-bottom: var(--padding-mid);
}

/*** MAIN FAQ ***/

.overflow {
    overflow-x: hidden;
}

.faq {
    font-family: var(--font-text);
    font-size: var(--font-size-mid);
    margin: 0 auto;
    max-width: 1200px;
}

.faq__preguntas {
    padding-bottom: var(--padding-vhigh);
}

.faq__title {
    font-size: var(--font-size-high);
    font-family: var(--font-text);
    padding-bottom: var(--padding-high);
}

.faq div p {
    padding: var(--padding-small) 0;
    line-height: 1.5;
}

form {
    font-family: var(--font-text);
    font-size: var(--padding-small);
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}

legend {
    font-size: var(--font-size-small);
    font-weight: bold;
    margin-bottom: var(--padding-mid);
}

label,
input {
    display: block;
    margin: 0 auto;
}

input {
    font-family:var(--font-text);
    font-size: var(--font-size-xsmall);
    margin: var(--padding-xsmall) auto;
    min-width: 60%;
    padding: 0.5em;
}

label {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline var(--color-contrast);
}

textarea {
    display: block;
    font-family: var(--font-text);
    margin: var(--padding-small) auto;
    min-width: 60%;
    padding: 0.5em;
    resize: none;
}

.btn {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.btn:hover {
    background-color:var(--color-dark);
    color: var(--color-contrast);
}

.btn-small {
    max-width: 30%;
}

/* FOOTER */
footer {
    background-color: var(--color-dark);
    color: var(--color-light);
    font-family: var(--font-text);
    font-size: var(--font-size-xsmall);
    margin-top: var(--padding-high);
    line-height: 2;
    padding: var(--padding-high);
    text-align: center;

    display: flex;
    justify-content: space-evenly;
    gap: var(--padding-small);
}

footer div {
    flex: 1 1 clamp(200px, 30%, 300px);
}

footer a {
    color: var(--color-light);
    display: inline-block;
    padding-bottom: var(--padding-xsmall) ;
}

footer a:visited {
    color: var(--color-light)
}

footer h3 {
    font-size: var(--font-size-small);
    text-decoration: underline var(--color-contrast);
    padding-bottom: var(--padding-small);
}

@media screen and (max-width: 800px) {
    header {
        display: block;
        font-size: var(--font-size-small) !important;
        text-align: center;
        padding: var(--padding-xsmall);
    }

    .header__ul {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        gap: var(--padding-xsmall);
    }
    
    #hero {
        padding-top:var(--padding-vhigh);
    }

    .hero__box {
        font-size: var(--font-size-small);
        margin: 0 auto;
        max-width: 650px;
        position:static;
        padding: var(--padding-xsmall);
        text-align: center;
    }
    
    .hero__box h1 {
        margin-bottom: var(--padding-small);
    }

    .intro {
        flex-flow: column wrap;
        padding: var(--padding-xsmall);
    }

    .intro__img img {
        min-width: 300px;
    }
    
    .servicios__container {
        flex-flow: column wrap;
        gap: var(--padding-small);
        padding: var(--padding-xsmall);
    }
    
    .servicios__title {
        text-align: center;
    }

    .servicios__box h1 {
        font-size: var(--font-size-small);
    }
    
    .servicios__box p {
        font-size: var(--font-size-xsmall);
    }

    .artistas {
        display: flex;
        flex-flow: column wrap;
    }

    .artistas img {
        display: block;
        margin: 0 auto;
        max-width: 400px;
    }

    .artistas .artista__textoUno h1,
    .artistas .artista__textoDos h1{
        font-size: var(--font-size-small);
        padding-bottom: var(--padding-xsmall) ;
        text-decoration: underline var(--color-contrast);
    }
    
    .artistas .artista__textoUno p,
    .artistas .artista__textoDos p{
        color: var(--color-middle);
        font-family: var(--font-text);
        font-size: var(--font-size-xsmall);
        line-height: 1.5;
    }

    .container__galeria {
        flex-flow: column wrap;
        
    }

    .galeria__img {
        max-width: 100%;
    }

    .piercingsServicio{
        margin: 0 auto;
        max-width: 90%;
    }

    .piercing__img {
        margin: 0 auto;
    }

    .piercing__varios{
        max-width: 80%;
    }

    .catalogoPiercing {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .catalogo__texto {
        font-size: var(--font-size-xsmall);
    }

    .catalogo__img {
        max-width: 300px;
    }

    /* */
    .faq {
        font-size: var(--font-size-xsmall);
    }
    
    .faq__preguntas {
        padding-bottom: var(--padding-high);
    }
    
    .faq__title {
        font-size: var(--font-size-mid);
        padding-bottom: var(--padding-mid);
    }
    
    .faq div p {
        padding: var(--padding-small) 0;
        line-height: 1.5;
    }
    
    form {
        font-size: var(--padding-small);
    }
    
    legend {
        font-size: var(--font-size-xsmall);
        margin-bottom: var(--padding-small);
    }
    
    input {
        min-width: 80%;
    }
    
    label {
        font-size: 1.6rem;
        font-weight: bold;
    }
    
    textarea {
        display: block;
        margin: var(--padding-small) auto;
        min-width: 80%;
        padding: 0.5em;
        resize: none;
    }
    /* */

    footer {
        flex-flow: column wrap;
        gap: var(--padding-xsmall)
    }
    
    footer h3 {
        padding-bottom: var(--padding-xsmall);
    }
}

@media (min-width: 801px) and (max-width: 1200px) {
    #hero {
        padding:var(--padding-vhigh) 0 var(--padding-vhigh);
    }

    .hero__box {
        font-size: var(--font-size-mid);
        margin: 0 auto;
        max-width: 650px;
        position:static;
        padding: var(--padding-small);
        text-align: center;
    }
    
    .intro {
        flex-flow: column wrap;
        padding: var(--padding-xsmall);
    }

    .artistas {
        display: flex;
        flex-flow: column wrap;
    }

    .artistas img {
        display: block;
        margin: 0 auto;
        max-width: 450px;
    }

    .artistas .artista__textoUno h1,
    .artistas .artista__textoDos h1{
        font-size: var(--font-size-mid);
        padding-bottom: var(--padding-xsmall) ;
        text-decoration: underline var(--color-contrast);
    }
    
    .artistas .artista__textoUno p,
    .artistas .artista__textoDos p{
        color: var(--color-middle);
        font-family: var(--font-text);
        font-size: var(--font-size-small);
        line-height: 1.25;
    }

    .galeria__img {
        max-width: 35%;
    }

    .piercing__texto {
        font-size: var(--font-size-xsmall);
    }

    .catalogoPiercing {
        grid-template-columns: repeat(2, 2fr);
    }

    .catalogo__img {
        padding-bottom: var(--padding-xsmall);
    }
    .catalogo__texto {
        font-size: var(--font-size-xsmall);
    }
}