/***** FOOTER *****/
footer {
    background-color: map-get($colores, color-dark);
    border-top: 4px solid map-get($colores, color-contrast);
    color: map-get($colores, color-light);
    font-family: map-get($fuentes, font-text);
    font-size: $font-size-xsmall;
    line-height: 2;
    padding: $padding-mid;
    text-align: center;
    a {
        @extend %vinculos;
        i {
            width: 50px;
            color: $color-light;
            &:hover{
                color: $color-contrast;
            }
        }
    }
    h3 {
        @include tituloFooter ($fuente: $font-text, $color-detalle: $color-contrast, $padding: $padding-xsmall);
        font-size: $font-size-small; 
    } 
}

@media screen and (max-width: 800px) {
    footer {
        h3 {
            font-size: 1.5rem;

        }
        a, p{
            font-size: 1.25rem;
            padding-bottom: $padding-xsmall;
        }
        
    }
}

@media (min-width: 801px) and (max-width: 1200px) {
    footer {
        h3 {
            font-size: 2rem;
        }
        a, p{
            font-size: 1.5rem;
            padding-bottom: $padding-xsmall;
        }
    }
}