/***** FOOTER *****/
footer {
    background-color: map-get($colores, color-dark);
    border-top: 4px solid map-get($colores, color-contrast);
    color: map-get($colores, color-light);
    font-family: map-get($fuentes, font-text);
    font-size: $font-size-xsmall;
    line-height: 2;
    padding: $padding-high;
    text-align: center;
    a {
        @extend %vinculos;
    }
    h3 {
        @include tituloFooter ($fuente: $font-text, $color-detalle: $color-contrast, $padding: $padding-small);
        font-size: $font-size-small;
    }
}

@media screen and (max-width: 800px) {
    footer {
        a, h3, p{
            font-size: $font-size-xsmall;
            padding-bottom: $padding-xsmall;
        }
    }
}