* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important; 
    overflow-x: hidden !important;
    a {
        color: $color-light !important;
        :visited {
            color: $color-light !important ;
        }
    }
}

