/* artistas */
body {
    main {
        padding: $padding-mid 3.5rem;
        .artistas {
            width: 90%;
            div {
                margin-bottom: 3rem;
                img {
                    min-width: 300px;
                    max-width: 600px;
                    display: block;
                    margin: 0 auto;
                }
                .artista__texto {
                    font-family: $font-titles;
                    font-size: $font-size-xsmall;
                    h1{
                        color: $color-dark;
                        font-size: $font-size-small;
                        text-decoration: underline $color-contrast;
                    }
                    p{
                        color: $color-middle;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 800px) {
    body{
        main {
            padding: $padding-xsmall 0.75rem;
            .artistas {
                div {
                    margin-bottom: 1.5rem;
                    img {
                        display: block;
                        margin: 0 auto;
                        min-width: 300px;
                        max-width: 450px;
                    }
                    .artista__texto {
                        font-size: $font-size-xsmall;
                        padding: $padding-xsmall 0;
                        h1 {
                            text-align: center;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
@media (min-width: 801px) and (max-width: 1200px) {
    body {
        main {
            .artistas {
                width: 100%;
                div {
                    .img {
                        min-width: 450px;
                        max-width: 600px;
                    }
                    .artista__texto {
                        margin: 0 auto;
                        padding: $padding-small 0;
                        h1 {
                            font-size: $font-size-mid;
                            text-align: center;
                            font-weight: bold;
                        }
                        p {
                            font-size: $font-size-small;
                        }
                    }
                }
            }
        }
    }
}

