/* servicios */
main {
    section {
        div {
            .servicios__title {
                font-family: $font-titles;
                text-decoration: underline $color-contrast;
                font-size: $font-size-high;
            }
        }
        .servicios__container {
            background-color: $color-dark;
            .servicios__box {
                background-color: $color-dark;
                color: $color-light;
                font-size: $font-size-xsmall;
                font-family: $font-titles;
                padding: $padding-xsmall;
                h2 {
                    font-size: $font-size-small;
                    text-decoration: underline $color-contrast;
                }
            }
        }
    }
}
@media screen and (max-width: 800px) {
    main {
        section {
            div {
                .servicios__title {
                    font-size: $font-size-mid;
                    text-align: center;
                }
            }

            .servicios__container {
                flex-flow: column wrap;
                padding: 0.5rem;
                .servicios__box {
                    h2 {
                        font-size: $font-size-small;
                        
                    }
                    p {
                        font-size: $font-size-xsmall;
                    }
                }
            }
        }
    }
}