/***** NAV *****/
nav {
    background-color: $color-dark;
    border-bottom: 4px solid $color-contrast ;
    color: $color-light;
    font-family: $font-titles;
    font-size: $font-size-mid;
    margin: 0 !important;
    a {
        color: $color-light !important;
        :visited {
            color: $color-light !important ;
        }
    }
    .blanco {
        border: $color-light;
        background-color: $color-light ;
    }
    .container-fluid {
        div {
            .brand {
                font-size: $font-size-high;
                text-decoration: none;
            }
        } 
        .underline {
            a {
                &:hover {
                    display: inline-block;
                    position: relative;
                } 
                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: $color-contrast;
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-out;
                }
                &:hover:after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }   
    }
}
@media screen and (max-width: 800px) {
    nav {
        .navbar-nav {
            font-size: $font-size-small;
        }
    }
}
@media (min-width: 801px) and (max-width: 1200px) {
    nav {
        .navbar-nav {
            font-size: $font-size-small;
        }
    }
}


